/*The color of the website is #3824ff */

#logo{
    width:150px;
    height:100px;
    margin-left: 45%;
    
}
hr{
    margin-left: 3%;
    margin-right: 3%;
}
body{
    /* background-image: url(back.png); */
    background-color: #181819;
    color: white;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.logout{
    color: white;
    background-color: #373737;
    float: right;
    margin-right: 3%;
}
#name{
    text-align: center;
    color: white
}
#score{
    float: right;
    margin-right: 3%;
}
#page_heading{
    text-align: center;
    margin-left: 3%;
}
.logout:hover{
    background-color: #3824ff;
    color: white;
    box-shadow:
    1px 1px black,
    2px 2px black,
    3px 3px black,
    4px 4px black,
    5px 5px black,
    6px 6px black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}
#progress{
    margin-left: 2.3%;
    width: 300px;
    border: 0px solid;
    overflow: hidden;
}
#progresstext:hover{
    border: 1px solid white;
}
#progresstext{
    width: 150px;
    float:left; /* add this */
    margin-left: 3%;
    cursor:grab;
}
#myProgress {
    border: 0.1px solid white;
    overflow: hidden;
  }

#box{
    width:auto;
    height:max-content;
    margin-left: 3%;
    margin-right: 3%;
    border:1px solid #ffffff;
}  

#myBar {
    width: 1%;
    height: 30px;
    background-color: #3824ff;
  }
#progress2{
    margin-left: 2.3%;
    width: 300px;
    border: 0px solid;
    overflow: hidden;
}
#progresstext2:hover{
    border: 1px solid white;
}
#progresstext2{
    width: 150px;
    float:left; /* add this */
    margin-left: 3%;
    cursor:grab;
}
#myProgress2{
    border: 0.1px solid white;
    overflow: hidden;
  }
  
#myBar2{
    width: 1%;
    height: 30px;
    background-color: #3824ff;
  }

#cropid{
    margin-left: 3%;
  }
#cropid:hover{

    color: white;
    box-shadow:
    1px 1px #e3c011db,  
    2px 2px #e3c011db,
    3px 3px #e3c011db,
    4px 4px #e3c011db,
    5px 5px #e3c011db,
    6px 6px #e3c011db;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}

select {

    outline:0;
    border:0!important;
    background: #5c6664;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }

 .crop-selector {
    position: relative;
    display: flex;
    width: 250px;
    height: 40px;
    margin-left: 42%;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 .crop-selector::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .crop-selector:hover::after {
    color: #fff;
 }


*, :before, :after {
    box-sizing:border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    min-height: auto;
    display:flexbox;
    justify-content: center;
    align-items: center;
    
  }
  
  img {
    max-width: auto;
    height: auto;
  }
  
  .main {
    filter: drop-shadow(0px 10px 10px rgba(82, 115, 78, 0.4));
  }
  
  .scene {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-20deg) rotateZ(0deg);
  }
  
  .plant {
    position: relative;
    transform-style: preserve-3d;
    -webkit-animation: spin 30s linear infinite;
            animation: spin 30s linear infinite;
    will-change: transform;
  }
  
  .shadow {
    position: absolute;
    bottom: 0;
    left: calc(50% - 25%);
    width: 50%;
    height: 50%;
    transform-origin: 0 100%;
    transform: rotateX(90deg) translateX(0%) translateY(50%) translateZ(1vmin);
    border-radius: 50%;
  }
  .shadow:before, .shadow:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: inherit;
  }
  .shadow:before {
    filter: blur(16px);
    width: 10%;
    height: 10%;
    background: linear-gradient(#1B502F, #52734E);
    opacity: 0.25;
  }
  .shadow:after {
    filter: blur(20px);
    width:25%;
    height: 25%;
    top: 25%;
    left: 25%;
    background: linear-gradient(black, black);
    opacity: 0.9;
  }
  
  :root.safari .img {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .img {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    z-index: 2;
    z-index: 3;
    z-index: 4;
    z-index: 5;
    z-index: 6;
    z-index: 7;
    z-index: 8;
    z-index: 9;
    z-index: 10;
    z-index: 11;
    z-index: 12;
    z-index: 13;
    z-index: 14;
    z-index: 15;
    z-index: 16;
    z-index: 17;
    z-index: 18;
    z-index: 19;
    z-index: 20;
    z-index: 21;
    z-index: 22;
    z-index: 23;
    z-index: 24;
    z-index: 25;
    z-index: 26;
    z-index: 27;
    z-index: 28;
    z-index: 29;
    z-index: 30;
    z-index: 31;
    z-index: 32;
  }
  .img:nth-of-type(1) {
    transform: rotateY(0deg);
  }
  .img .img__content {
    -webkit-animation-delay: -0.2s !important;
            animation-delay: -0.2s !important;
  }
  .img:nth-of-type(2) {
    transform: rotateY(11.25deg);
  }
  .img .img__content {
    -webkit-animation-delay: -0.4s !important;
            animation-delay: -0.4s !important;
  }
  .img:nth-of-type(3) {
    transform: rotateY(22.5deg);
  }
  .img .img__content {
    -webkit-animation-delay: -0.6s !important;
            animation-delay: -0.6s !important;
  }
  .img:nth-of-type(4) {
    transform: rotateY(33.75deg);
  }
  .img .img__content {
    -webkit-animation-delay: -0.8s !important;
            animation-delay: -0.8s !important;
  }
  .img:nth-of-type(5) {
    transform: rotateY(45deg);
  }
  .img .img__content {
    -webkit-animation-delay: -1s !important;
            animation-delay: -1s !important;
  }
  .img:nth-of-type(6) {
    transform: rotateY(56.25deg);
  }
  .img .img__content {
    -webkit-animation-delay: -1.2s !important;
            animation-delay: -1.2s !important;
  }
  .img:nth-of-type(7) {
    transform: rotateY(67.5deg);
  }
  .img .img__content {
    -webkit-animation-delay: -1.4s !important;
            animation-delay: -1.4s !important;
  }
  .img:nth-of-type(8) {
    transform: rotateY(78.75deg);
  }
  .img .img__content {
    -webkit-animation-delay: -1.6s !important;
            animation-delay: -1.6s !important;
  }
  .img:nth-of-type(9) {
    transform: rotateY(90deg);
  }
  .img .img__content {
    -webkit-animation-delay: -1.8s !important;
            animation-delay: -1.8s !important;
  }
  .img:nth-of-type(10) {
    transform: rotateY(101.25deg);
  }
  .img .img__content {
    -webkit-animation-delay: -2s !important;
            animation-delay: -2s !important;
  }
  .img:nth-of-type(11) {
    transform: rotateY(112.5deg);
  }
  .img .img__content {
    -webkit-animation-delay: -2.2s !important;
            animation-delay: -2.2s !important;
  }
  .img:nth-of-type(12) {
    transform: rotateY(123.75deg);
  }
  .img .img__content {
    -webkit-animation-delay: -2.4s !important;
            animation-delay: -2.4s !important;
  }
  .img:nth-of-type(13) {
    transform: rotateY(135deg);
  }
  .img .img__content {
    -webkit-animation-delay: -2.6s !important;
            animation-delay: -2.6s !important;
  }
  .img:nth-of-type(14) {
    transform: rotateY(146.25deg);
  }
  .img .img__content {
    -webkit-animation-delay: -2.8s !important;
            animation-delay: -2.8s !important;
  }
  .img:nth-of-type(15) {
    transform: rotateY(157.5deg);
  }
  .img .img__content {
    -webkit-animation-delay: -3s !important;
            animation-delay: -3s !important;
  }
  .img:nth-of-type(16) {
    transform: rotateY(168.75deg);
  }
  .img .img__content {
    -webkit-animation-delay: -3.2s !important;
            animation-delay: -3.2s !important;
  }
  .img:nth-of-type(17) {
    transform: rotateY(180deg);
  }
  .img .img__content {
    -webkit-animation-delay: -3.4s !important;
            animation-delay: -3.4s !important;
  }
  .img:nth-of-type(18) {
    transform: rotateY(191.25deg);
  }
  .img .img__content {
    -webkit-animation-delay: -3.6s !important;
            animation-delay: -3.6s !important;
  }
  .img:nth-of-type(19) {
    transform: rotateY(202.5deg);
  }
  .img .img__content {
    -webkit-animation-delay: -3.8s !important;
            animation-delay: -3.8s !important;
  }
  .img:nth-of-type(20) {
    transform: rotateY(213.75deg);
  }
  .img .img__content {
    -webkit-animation-delay: -4s !important;
            animation-delay: -4s !important;
  }
  .img:nth-of-type(21) {
    transform: rotateY(225deg);
  }
  .img .img__content {
    -webkit-animation-delay: -4.2s !important;
            animation-delay: -4.2s !important;
  }
  .img:nth-of-type(22) {
    transform: rotateY(236.25deg);
  }
  .img .img__content {
    -webkit-animation-delay: -4.4s !important;
            animation-delay: -4.4s !important;
  }
  .img:nth-of-type(23) {
    transform: rotateY(247.5deg);
  }
  .img .img__content {
    -webkit-animation-delay: -4.6s !important;
            animation-delay: -4.6s !important;
  }
  .img:nth-of-type(24) {
    transform: rotateY(258.75deg);
  }
  .img .img__content {
    -webkit-animation-delay: -4.8s !important;
            animation-delay: -4.8s !important;
  }
  .img:nth-of-type(25) {
    transform: rotateY(270deg);
  }
  .img .img__content {
    -webkit-animation-delay: -5s !important;
            animation-delay: -5s !important;
  }
  .img:nth-of-type(26) {
    transform: rotateY(281.25deg);
  }
  .img .img__content {
    -webkit-animation-delay: -5.2s !important;
            animation-delay: -5.2s !important;
  }
  .img:nth-of-type(27) {
    transform: rotateY(292.5deg);
  }
  .img .img__content {
    -webkit-animation-delay: -5.4s !important;
            animation-delay: -5.4s !important;
  }
  .img:nth-of-type(28) {
    transform: rotateY(303.75deg);
  }
  .img .img__content {
    -webkit-animation-delay: -5.6s !important;
            animation-delay: -5.6s !important;
  }
  .img:nth-of-type(29) {
    transform: rotateY(315deg);
  }
  .img .img__content {
    -webkit-animation-delay: -5.8s !important;
            animation-delay: -5.8s !important;
  }
  .img:nth-of-type(30) {
    transform: rotateY(326.25deg);
  }
  .img .img__content {
    -webkit-animation-delay: -6s !important;
            animation-delay: -6s !important;
  }
  .img:nth-of-type(31) {
    transform: rotateY(337.5deg);
  }
  .img .img__content {
    -webkit-animation-delay: -6.2s !important;
            animation-delay: -6.2s !important;
  }
  .img:nth-of-type(32) {
    transform: rotateY(348.75deg);
  }
  .img .img__content {
    -webkit-animation-delay: -6.4s !important;
            animation-delay: -6.4s !important;
  }
  .img:first-of-type {
    position: relative;
  }
  .img:nth-of-type(4n + 1) .img__content {
    -webkit-animation: wave 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
            animation: wave 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
  }
  .img:nth-of-type(3n + 1) .img__content {
    opacity: 0.8;
  }
  .img:nth-of-type(2n) .img__content {
    display: none;
    opacity: 0.2;
  }
  
  @-webkit-keyframes spin {
    to {
      transform: rotateY(-1turn);
    }
  }
  
  @keyframes spin {
    to {
      transform: rotateY(-1turn);
    }
  }
  @-webkit-keyframes spin-shadow {
    to {
      transform: rotateZ(1turn);
    }
  }
  @keyframes spin-shadow {
    to {
      transform: rotateZ(1turn);
    }
  }
  @-webkit-keyframes wave {
    0% {
      transform: skewY(-2deg);
    }
    100% {
      transform: skewY(2deg);
    }
  }
  @keyframes wave {
    0% {
      transform: skewY(-2deg);
    }
    100% {
      transform: skewY(2deg);
    }
  }