#logo{
    width:150px;
    height:100px;
}
body{
    background-image: url(back.png);
}
#firstline{
    border-top: 1px solid black;
}

.logout{
    color: blue;
    background-color: greenyellow;
    float: right;
}